.main-container {
  background: url('/assets/fondo-animado.jpg') no-repeat center center / cover;
  color: white;
  padding: 20px;
  text-align: center;
}

.header h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
  color: #002f6c; /* Azul navy */
}

.sub-header {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #002f6c; /* Azul navy */
}

.button-container button {
  margin: 0.5em;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}
.btn-secondary {
  background-color: #6c757d;
  color: white;
}
.btn-tertiary {
  background-color: #28a745;
  color: white;
}

.service-section h2 {
  font-size: 2em;
  margin: 1em 0;
  color: #ff851b;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.service-block {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  color: white;
}

.service-block:hover {
  transform: scale(1.05);
}

.service-block h3 {
  color: #f8f9fa;
}

.service-block p {
  color: #ced4da;
}
